# Dados censitários

## Fonte de dados

ftp://ftp.ibge.gov.br/Censos/Censo_Demografico_2010/Resultados_do_Universo.

In [1]:
import pandas as pd
import geopandas as gpd

# Carregando os dados

In [6]:
censo = pd.read_excel('../01.Dados/Censo 2010/RJ/EXCEL/Basico_RJ.xls')
censo.head()

,Cod_setor,Cod_Grandes Regiões,Nome_Grande_Regiao,Cod_UF,Nome_da_UF,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,...,V003,V004,V005,V006,V007,V008,V009,V010,V011,V012
0,330010005000001,3,Região Sudeste,RJ,Rio de Janeiro,3305,Sul Fluminense,33013,Baía da Ilha Grande,0,...,2.62,1.94,2356.80,5716056.06,2571.06,5684616.94,1565.37,4344465.56,2192.65,4711305.89
1,330010005000002,3,Região Sudeste,RJ,Rio de Janeiro,3305,Sul Fluminense,33013,Baía da Ilha Grande,0,...,2.51,1.50,2040.47,3020377.79,2236.67,2869054.77,1816.69,20052928.88,2375.67,24942113.99
2,330010005000003,3,Região Sudeste,RJ,Rio de Janeiro,3305,Sul Fluminense,33013,Baía da Ilha Grande,0,...,3.08,2.19,2687.80,8362007.52,2836.66,8402987.99,1593.37,7250920.66,2294.84,8835722.10
3,330010005000004,3,Região Sudeste,RJ,Rio de Janeiro,3305,Sul Fluminense,33013,Baía da Ilha Grande,0,...,3.04,3.25,3026.67,24807309.86,3352.62,26410753.99,1865.52,10994097.59,2574.41,13362652.63
4,330010005000005,3,Região Sudeste,RJ,Rio de Janeiro,3305,Sul Fluminense,33013,Baía da Ilha Grande,0,...,3.34,1.94,1124.82,712447.24,1229.19,649944.69,689.40,583588.50,1028.21,521878.03

In [8]:
setor = gpd.read_file('../01.Dados/Mapas/RJ-SETOR/RJ-SETOR.shp')
setor.head()

,ID1,CD_GEOCODI,TIPO,CD_GEOCODB,NM_BAIRRO,CD_GEOCODD,NM_DISTRIT,CD_GEOCODS,NM_SUBDIST,CD_GEOCODM,NM_MUNICIP,NM_MESO,NM_MICRO,geometry
0,408153,330455705250108,URBANO,330455705117,Jardim Guanabara,330455705,RIO DE JANEIRO,330455705,ILHA DO GOVERNADOR,3304557,RIO DE JANEIRO,METROPOLITANA DO RIO DE JANEIRO,RIO DE JANEIRO,"POLYGON ((685.459 7475.551, 685.429 7475.557, ..."
1,408157,330455705250112,URBANO,330455705117,Jardim Guanabara,330455705,RIO DE JANEIRO,330455705,ILHA DO GOVERNADOR,3304557,RIO DE JANEIRO,METROPOLITANA DO RIO DE JANEIRO,RIO DE JANEIRO,"POLYGON ((685.019 7475.930, 685.045 7475.924, ..."
2,408158,330455705250113,URBANO,330455705117,Jardim Guanabara,330455705,RIO DE JANEIRO,330455705,ILHA DO GOVERNADOR,3304557,RIO DE JANEIRO,METROPOLITANA DO RIO DE JANEIRO,RIO DE JANEIRO,"POLYGON ((684.902 7475.511, 684.905 7475.484, ..."
3,408149,330455705250104,URBANO,330455705117,Jardim Guanabara,330455705,RIO DE JANEIRO,330455705,ILHA DO GOVERNADOR,3304557,RIO DE JANEIRO,METROPOLITANA DO RIO DE JANEIRO,RIO DE JANEIRO,"POLYGON ((684.906 7476.317, 684.903 7476.329, ..."
4,408150,330455705250105,URBANO,330455705117,Jardim Guanabara,330455705,RIO DE JANEIRO,330455705,ILHA DO GOVERNADOR,3304557,RIO DE JANEIRO,METROPOLITANA DO RIO DE JANEIRO,RIO DE JANEIRO,"POLYGON ((685.055 7476.375, 685.044 7476.357, ..."

# Verificando os tipo de dados de cada coluna

In [9]:
censo.dtypes

Cod_setor                int64
Cod_Grandes Regiões      int64
Nome_Grande_Regiao      object
Cod_UF                  object
Nome_da_UF              object
Cod_meso                 int64
Nome_da_meso            object
Cod_micro                int64
Nome_da_micro           object
Cod_RM                   int64
Nome_da_RM              object
Cod_municipio            int64
Nome_do_municipio       object
Cod_distrito             int64
Nome_do_distrito        object
Cod_subdistrito          int64
Nome_do_subdistrito     object
Cod_bairro               int64
Nome_do_bairro          object
Situacao_setor           int64
Tipo_setor               int64
V001                   float64
V002                   float64
V003                   float64
V004                   float64
V005                   float64
V006                   float64
V007                   float64
V008                   float64
V009                   float64
V010                   float64
V011                   float64
V012                   float64
dtype: object

In [10]:
setor.dtypes

ID1              int64
CD_GEOCODI      object
TIPO            object
CD_GEOCODB      object
NM_BAIRRO       object
CD_GEOCODD      object
NM_DISTRIT      object
CD_GEOCODS      object
NM_SUBDIST      object
CD_GEOCODM      object
NM_MUNICIP      object
NM_MESO         object
NM_MICRO        object
geometry      geometry
dtype: object

In [13]:
# Modificando o tipo de dados do 'Cod_setor'
censo['Cod_setor'] = censo['Cod_setor'].astype(str)
censo.dtypes

Cod_setor               object
Cod_Grandes Regiões      int64
Nome_Grande_Regiao      object
Cod_UF                  object
Nome_da_UF              object
Cod_meso                 int64
Nome_da_meso            object
Cod_micro                int64
Nome_da_micro           object
Cod_RM                   int64
Nome_da_RM              object
Cod_municipio            int64
Nome_do_municipio       object
Cod_distrito             int64
Nome_do_distrito        object
Cod_subdistrito          int64
Nome_do_subdistrito     object
Cod_bairro               int64
Nome_do_bairro          object
Situacao_setor           int64
Tipo_setor               int64
V001                   float64
V002                   float64
V003                   float64
V004                   float64
V005                   float64
V006                   float64
V007                   float64
V008                   float64
V009                   float64
V010                   float64
V011                   float64
V012                   float64
dtype: object

In [15]:
print(type(censo))
print(type(setor))

<class 'pandas.core.frame.DataFrame'>
<class 'geopandas.geodataframe.GeoDataFrame'>

In [16]:
setor.shape

(10504, 14)

# Juntando as duas bases de dados com referência na coluna 'Cod_setor'

In [17]:
setor = pd.merge(setor, censo, left_on='CD_GEOCODI',right_on='Cod_setor', how='left')

In [18]:
setor.shape

(10504, 47)

In [20]:
setor.head()

,ID1,CD_GEOCODI,TIPO,CD_GEOCODB,NM_BAIRRO,CD_GEOCODD,NM_DISTRIT,CD_GEOCODS,NM_SUBDIST,CD_GEOCODM,...,V003,V004,V005,V006,V007,V008,V009,V010,V011,V012
0,408153,330455705250108,URBANO,330455705117,Jardim Guanabara,330455705,RIO DE JANEIRO,330455705,ILHA DO GOVERNADOR,3304557,...,3.01,2.03,3197.22,30441095.44,3955.19,34678115.89,2532.07,17394403.77,3603.87,20901128.23
1,408157,330455705250112,URBANO,330455705117,Jardim Guanabara,330455705,RIO DE JANEIRO,330455705,ILHA DO GOVERNADOR,3304557,...,2.90,2.02,2939.27,11625233.69,4082.31,11478517.02,1868.44,7840859.89,3183.57,9178699.99
2,408158,330455705250113,URBANO,330455705117,Jardim Guanabara,330455705,RIO DE JANEIRO,330455705,ILHA DO GOVERNADOR,3304557,...,3.21,1.74,4607.17,27747188.04,4825.07,28009914.76,2373.90,15297946.52,3596.82,18791839.98
3,408149,330455705250104,URBANO,330455705117,Jardim Guanabara,330455705,RIO DE JANEIRO,330455705,ILHA DO GOVERNADOR,3304557,...,2.96,2.11,4514.60,69474357.33,5281.78,77279356.46,2325.76,30455188.88,3839.47,44512674.58
4,408150,330455705250105,URBANO,330455705117,Jardim Guanabara,330455705,RIO DE JANEIRO,330455705,ILHA DO GOVERNADOR,3304557,...,2.79,1.57,3681.71,10261605.38,3929.35,9977475.56,2365.34,15099508.74,3315.75,18021853.15

In [19]:
setor.columns

Index(['ID1', 'CD_GEOCODI', 'TIPO', 'CD_GEOCODB', 'NM_BAIRRO', 'CD_GEOCODD',
       'NM_DISTRIT', 'CD_GEOCODS', 'NM_SUBDIST', 'CD_GEOCODM', 'NM_MUNICIP',
       'NM_MESO', 'NM_MICRO', 'geometry', 'Cod_setor', 'Cod_Grandes Regiões',
       'Nome_Grande_Regiao', 'Cod_UF', 'Nome_da_UF ', 'Cod_meso',
       'Nome_da_meso', 'Cod_micro', 'Nome_da_micro', 'Cod_RM', 'Nome_da_RM',
       'Cod_municipio', 'Nome_do_municipio', 'Cod_distrito',
       'Nome_do_distrito', 'Cod_subdistrito', 'Nome_do_subdistrito',
       'Cod_bairro', 'Nome_do_bairro', 'Situacao_setor', 'Tipo_setor', 'V001',
       'V002', 'V003', 'V004', 'V005', 'V006', 'V007', 'V008', 'V009', 'V010',
       'V011', 'V012'],
      dtype='object')

In [21]:
type(setor)

geopandas.geodataframe.GeoDataFrame

In [22]:
setor.crs

<Projected CRS: PROJCS["Transverse_Mercator",GEOGCS["GCS_unknown", ...>
Name: Transverse_Mercator
Axis Info [cartesian]:
- E[east]: Easting (kilometre)
- N[north]: Northing (kilometre)
Area of Use:
- undefined
Coordinate Operation:
- name: unnamed
- method: Transverse Mercator
Datum: Unknown based on GRS80 ellipsoid
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

# Salvando em um arquivos os tipo de dados

In [23]:
setor.to_file('../01.Dados/Mapas/RJ-SETOR/RJ-SETOR.shp')